/* Nav Group Toggle */
.nav-group__toggle {
  padding-top: 4px;
  padding-bottom: 6px;
}

/* Nav Group Label */
.nav-group__label {
  font-weight: bold;
  font-size: 14px;
  font-family: Inter;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Dashboard Card Labels */
.dashboard__label {
  font-size: 36px;
  padding-top: 19px;
  padding-bottom: 19px;
}

/* Dashboard Card */
.card {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Dashboard Card Title */
.card__title {
  font-weight: normal;
  font-size: 14px;
}

/* Database Animation for Process Block */
.database {
  animation: database-animation-path 4s cubic-bezier(0, 0, 0.2, 1) 1s infinite;
}

.db-light-1 {
  offset-path: path('M 31 10 v 15 q 0 5 5 5 h 59 q 5 0 5 5 v 50');
}

.db-light-2 {
  offset-path: path('M 77 10 v 10 q 0 5 5 5 h 13 q 5 0 5 5 v 50');
}

.db-light-3 {
  offset-path: path('M 124 10 v 10 q 0 5 -5 5 h -14 q -5 0 -5 5 v 50');
}

.db-light-4 {
  offset-path: path('M 170 10 v 15 q 0 5 -5 5 h -60 q -5 0 -5 5 v 50');
}

@keyframes database-animation-path {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
